body {
    background-image: url('https://sepsbq.bn.files.1drv.com/y4mHLIPcB5AxdHoIM3fPesAC4CtNzduA5t4p-Nqj2gWVdPYuNFR9AhCjxKqkz5fmJhn_G9FxUDeJii74lMJ48NsttDMA-wgvC_tD5Nxt0PzTlw-5aS_x-y9Hrd8nGp-OYf2RllL-9av0k851u2xQt9Vo6TnoL_3uz_ZLzEoNmge0iJKJ_TyK4THVDETjp-SZqMpgozVbXoXXCXvd7fTDrGhJw/004%20-%2018-02-2020%20cenario%20caverna.png?psid=1');
    background-size: 100vw auto;
    font-family: Verdana;
}
  
a {
    color: teal;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
.menu {
    background-color: #00EEEE
}
  
.menu ul {
    display: flex;
    justify-content: space-around;
}
  
.menu li {
    list-style: none;
}
  
.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}
  
.site-subtitle {
    font-style: italic
}